@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.login {
    background-color: #3498db0e;
    /* height: 100vh; */
    font-family: 'Montserrat', sans-serif;
    /* background: url("./watermark.png");
    background-size: contain;
    background-position: center; */

}

.login .col-md-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 0;
}

.register-col {
    padding: 60px 0 !important;
}

.login .col-md-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-asset {
    height: auto;
    width: 100%;
}

.login .col-md-8 {
    padding: 50px 0;
}

.login h1 {
    font-size: 25px;
    color: #2B83EA;
    margin-bottom: 20px;
    font-weight: 700;
}

.btn {
    border: none !important;
}

.login-form label {
    font-size: 16px;
    margin-bottom: 8px;
}

.login-form input {
    font-size: 16px;
    padding: 7px 15px;
    width: 60%;
    border: 2px solid #3498db;
    border-radius: 50px;
}

.register-form-input {
    width: 90% !important;
}

.btn-primary {
    margin-right: 40px;
}

.login-form input:active,
.login-form input:focus {
    outline: none;
}

.form-control {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: inherit;
    position: relative;
}

.form-control-register {
    display: flex;
    margin-top: 30px;
}

.form-control-register>div {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.form-control-register:first-of-type {
    margin-top: 0 !important;
}

.button-container {
    width: 60%;
    display: flex;
    margin-top: 30px;
    padding: 0 10px;
}

.sign-up-link {
    text-decoration: none;
    margin-top: 60px;
    transition: all .3s;
}

.sign-up-link:hover {
    transform: translateY(-3px);
}

.error {
    position: absolute;
    color: #e74c3c;
    top: 5%;
    left: 13%;
}